.photograph-main {
    margin: 0 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #C4C4C466;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 40px 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
    transition: background-color 0.3s ease, color 0.5s ease; 

}

.contact_button:hover {
    background-color:#DB8876;
    color: black;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: end;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);

    
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    color: black;

}

.modal header button {
    background: none;
    border: none;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

.photograph-header .card-header {
    flex-direction: row-reverse;
}

.photograph-header .card-content {
    text-align: left;
}

.photograph-header h1 {
    color:#D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 10px auto;
}

.photograph-header .location {
    font-size: 24px;
}

.photograph-header .tagline {
    font-size: 18px;
    color: #525252;
}

.profile {
    grid-area: 1;
}

.media-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    align-items: center;
}

.media-card {
max-width: 350px;
}



.gallery-img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.gallery-video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.gallery-title {
    font-size: 24px;
    color: #901C1C;
    margin-top: 10px;
}

.gallery-likes {
    font-size: 24px;
    color: #901C1C;
    font-weight: 500;
    justify-self: end;
    margin-top: 10px;
}

.media-informations img {
    width: 17px;
    height: 19px;
    justify-self: end;
    margin-top:10px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.media-informations img.clicked {

    transform: scale(1.5);
}

.media-informations {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.2fr;
    align-items: center;
}

.media-content > .media-card:nth-child(2) {
    justify-self: center;
}

.media-content > .media-card:nth-child(3) {
    justify-self: end;
}

.insert {
    background-color: #DB8876;
    width: 370px;
    height: 80px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 15px;
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    font-size: 24px;
    font-weight: 500;
    padding: 0 30px;
    align-items: center;
}

.insert-price {
    justify-self: end;
}


.insert img {
    width: 17px;
    height: 18px;

}

#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#closeLightboxBtn {
position: fixed;
right: 8px;
top: 13px;
background: none;
border: none;
cursor: pointer;
}

.lightbox {
    background-color: #fff;
    border-radius: 5px;
    width: 1240px;
    padding: 10px 80px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.lightbox-content{
    height: 800px;
}

.lightbox-content img{
    width: 48px;
    height: 40px;
    cursor: pointer;
}

.lightbox-content .gallery-img{
    width: 100%;
    height: 95%;
    object-fit:cover;
}

.lightbox p {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
}

.left-btn{
    position: fixed;
    top: 50%;
    left: 10px;
    background: none;
    border: none;
}


.right-btn {
    position: fixed;
    top: 50%;
    right: 10px;
    background: none;
    border: none;
}


.lightbox-content video {
    width: 100%;
    height: 95%;
}


.sort-container p {
    font-weight: 700;
    font-size: 18px;
}

.sort-container {
    position: relative;
    display: inline-block;
    display: flex;
    gap: 20px;

}

.dropdown-menu {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 67px;
    left: 89px;
    background-color: #901C1C;
    color: #fff;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    
    
}

.selected-option {
    width: 170px;
    height: 70px;
    border-radius: 5px;
    background-color: #901C1C;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    text-align: start;
    padding-left: 20px;
    
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 70px;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-content a {
    color: #fff;
    width: 100%;
}



.dropdown-content li:first-child {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-width: 1px;


}

.arrow-down {
    width: 16px;
    position: absolute;
    top: 40%;
    left: 230px;
}

.arrow-up {
    width: 16px;
    position: absolute;
    top: 40%;
    left: 230px;
}

.show {
    display: block;

}

